@model List<DNTU_JOBS.Models.JobTable>

<style>
    .d-flex {

        gap: 0px;

    }

    .testimonial-area .testimonial-caption .testimonial-top-cap p {
        text-wrap: auto;
    }
</style>

<main>

    <div class="slider-area ">
        <!-- Mobile Menu -->
        <div class="slider-active">
            <div class="single-slider slider-height d-flex align-items-center"
                 data-background="/img/hero/DNTUBAN2.png">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-6 col-lg-9 col-md-10">
                            <div class="hero__caption">
                                <h1>Công Việc Xịn - CV Chất</h1>
                            </div>
                        </div>
                    </div>
                    <!-- Search Box -->
                    <div class="row">
                        <div class="col-xl-8">
                            <!-- form -->
                            <form action="#" class="search-box">
                                <div class="input-form">
                                    <input type="text" placeholder="Tên công việc hay từ khóa">
                                </div>
                                <div class="select-form">
                                    <div class="select-itms">
                                        <select name="select" id="select1">
                                            <option value="">Tất cả địa điểm</option>
                                            <option value="">Hà Nội</option>
                                            <option value="">Bình Dương</option>
                                            <option value="">Hồ Chí Minh</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="search-form">
                                    <a href="#">Tìm việc</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- slider Area End-->
    <!-- Our Services Start -->
    <div class="our-services section-pad-t30">
        <div class="container">
            <!-- Section Tittle -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-tittle text-center">
                        <span>Các Loại Dịch Vụ Nổi Bật</span>
                        <h2>Top ngành nghề nổi bật</h2>
                    </div>
                </div>
            </div>
            <div class="row d-flex justify-contnet-center">
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                    <div class="single-services text-center mb-30">
                        <div class="services-ion">
                            <span class="flaticon-tour"></span>
                        </div>
                        <div class="services-cap">
                            <h5><a href="job_listing.html">Design & Creative</a></h5>
                            <span>(653)</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                    <div class="single-services text-center mb-30">
                        <div class="services-ion">
                            <span class="flaticon-cms"></span>
                        </div>
                        <div class="services-cap">
                            <h5><a href="job_listing.html">Design & Development</a></h5>
                            <span>(658)</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                    <div class="single-services text-center mb-30">
                        <div class="services-ion">
                            <span class="flaticon-report"></span>
                        </div>
                        <div class="services-cap">
                            <h5><a href="job_listing.html">Sales & Marketing</a></h5>
                            <span>(658)</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                    <div class="single-services text-center mb-30">
                        <div class="services-ion">
                            <span class="flaticon-app"></span>
                        </div>
                        <div class="services-cap">
                            <h5><a href="job_listing.html">Mobile Application</a></h5>
                            <span>(658)</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                    <div class="single-services text-center mb-30">
                        <div class="services-ion">
                            <span class="flaticon-helmet"></span>
                        </div>
                        <div class="services-cap">
                            <h5><a href="job_listing.html">Construction</a></h5>
                            <span>(658)</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                    <div class="single-services text-center mb-30">
                        <div class="services-ion">
                            <span class="flaticon-high-tech"></span>
                        </div>
                        <div class="services-cap">
                            <h5><a href="job_listing.html">Information Technology</a></h5>
                            <span>(658)</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                    <div class="single-services text-center mb-30">
                        <div class="services-ion">
                            <span class="flaticon-real-estate"></span>
                        </div>
                        <div class="services-cap">
                            <h5><a href="job_listing.html">Real Estate</a></h5>
                            <span>(658)</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                    <div class="single-services text-center mb-30">
                        <div class="services-ion">
                            <span class="flaticon-content"></span>
                        </div>
                        <div class="services-cap">
                            <h5><a href="job_listing.html">Content Writer</a></h5>
                            <span>(658)</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- More Btn -->
            <!-- Section Button -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="browse-btn2 text-center mt-50">
                        <a href="job_listing.html" class="border-btn2">Xem thêm các lĩnh vực khác</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Our Services End -->
    <!-- Online CV Area Start -->
    <div class="online-cv cv-bg section-overly pt-90 pb-120" data-background="/img/gallery/cv_bg.jpg">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-10">
                    <div class="cv-caption text-center">
                        <p class="pera1">Ứng Tuyển Công Việc Ngay</p>
                        <p class="pera2"> Cùng DNTU Jobs Xây Dựng Thương Hiệu Cá Nhân</p>
                        <a href="#" class="border-btn2 border-btn4">Tải CV Của Bạn</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Online CV Area End-->
    <!-- Featured_job_start -->
    <section class="featured-job-area feature-padding">
        <div class="container">
            <!-- Section Title -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-tittle text-center">
                        <span>DNTU JOBS</span>
                        <h2>Công việc mới nhất</h2>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-xl-10">
                    @if (Model != null && Model.Any())
                    {
                        @foreach (var job in Model)
                        {
                            <div class="single-job-items mb-30" style="background-color:white">
                                <div class="job-items">
                                    <div class="company-img">
                                        <a href="@Url.Action("JobDetail", "Home", new { area = "User", id = job.Id })">
                                            @if (job.ApplicationUser?.Photo != null)
                                            {
                                                <img src="data:image/png;base64,@Convert.ToBase64String(job.ApplicationUser.Photo)" alt="Company Logo" style="width:100px; height:100px; border-radius:50%;">
                                            }
                                            else
                                            {
                                                <img src="~/img/default-user.png" alt="Default Logo" style="width:100px; height:100px; border-radius:50%;">
                                            }
                                        </a>
                                    </div>
                                    <div class="job-tittle">
                                        <a href="@Url.Action("JobDetail", "Home", new { area = "User", id = job.Id })">
                                            <h4>@job.JobTitle</h4>
                                        </a>
                                        <ul>
                                            <li>@job.ApplicationUser?.Name</li>
                                            <li>
                                                <i class="fas fa-map-marker-alt"></i>
                                                @if (job.District != null && job.Ward != null)
                                                {
                                                    @($"{job.District.Name}, {job.Ward.Name}")
                                                }
                                                else if (job.District != null)
                                                {
                                                    @job.District.Name
                                                }
                                                else if (job.Ward != null)
                                                {
                                                    @job.Ward.Name
                                                }
                                                else
                                                {
                                                    <span>Không xác định</span>
                                                }
                                            </li>

                                        </ul>
                                        <p>
                                            @if (job.SalaryMin.HasValue && job.SalaryMax.HasValue)
                                            {
                                                @($"{job.SalaryMin.Value.ToString("N0", System.Globalization.CultureInfo.GetCultureInfo("vi-VN"))} VNĐ - {job.SalaryMax.Value.ToString("N0", System.Globalization.CultureInfo.GetCultureInfo("vi-VN"))} VNĐ")
                                            }
                                            else if (job.SalaryMin.HasValue)
                                            {
                                                @($"{job.SalaryMin.Value.ToString("N0", System.Globalization.CultureInfo.GetCultureInfo("vi-VN"))} VNĐ")
                                            }
                                            else if (job.SalaryMax.HasValue)
                                            {
                                                @($"{job.SalaryMax.Value.ToString("N0", System.Globalization.CultureInfo.GetCultureInfo("vi-VN"))} VNĐ")
                                            }
                                            else
                                            {
                                                <span>Thỏa thuận</span>
                                            }
                                        </p>
                                    </div>
                                </div>
                                <div class="items-link f-right">
                                    <a href="@Url.Action("JobDetail", "UserJob", new { area = "User", id = job.Id })" style="text-decoration:none">
                                        Xem chi tiết
                                    </a>
                                    <span>@job.CreationDate.ToString("MMMM dd, yyyy")</span>
                                </div>
                            </div>
                        }
                    }
                    else
                    {
                        <p>No jobs available at the moment.</p>
                    }
                </div>
            </div>
        </div>
    </section>

    <!-- Featured_job_end -->
    <!-- How  Apply Process Start-->
    <div class="apply-process-area apply-bg pt-150 pb-150" data-background="/img/gallery/how-applybg.png">
        <div class="container">
            <!-- Section Tittle -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-tittle white-text text-center">
                        <span>Quy Trình Ứng Tuyển</span>
                        <h2> Làm Thế Nào Để Ứng Tuyển</h2>
                    </div>
                </div>
            </div>
            <!-- Apply Process Caption -->
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="single-process text-center mb-30">
                        <div class="process-ion">
                            <span class="flaticon-search"></span>
                        </div>
                        <div class="process-cap">
                            <h5>1. Tìm kiếm việc làm</h5>
                            <p>
                                Tìm kiếm việc làm trở nên dễ dàng hơn bao giờ hết với trang web tìm việc của chúng
                                tôi.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-process text-center mb-30">
                        <div class="process-ion">
                            <span class="flaticon-curriculum-vitae"></span>
                        </div>
                        <div class="process-cap">
                            <h5>2. Ứng tuyển công việc</h5>
                            <p>
                                Đạt đỉnh sự nghiệp bằng cách ứng tuyển công việc tốt nhất trên trang web tìm việc của
                                chúng tôi.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-process text-center mb-30">
                        <div class="process-ion">
                            <span class="flaticon-tour"></span>
                        </div>
                        <div class="process-cap">
                            <h5>3. Nhận công việc của bạn</h5>
                            <p>
                                Chúng tôi sẽ giúp bạn nhận được công việc của mơ ước tại trang web tìm việc của chúng
                                tôi.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- How  Apply Process End-->
    <!-- Testimonial Start -->
    <div class="testimonial-area testimonial-padding">
        <div class="container">
            <!-- Testimonial contents -->
            <div class="row d-flex justify-content-center">
                <div class="col-xl-8 col-lg-8 col-md-10">
                    <div class="h1-testimonial-active dot-style">
                        <!-- Single Testimonial -->
                        <div class="single-testimonial text-center">
                            <!-- Testimonial Content -->
                            <div class="testimonial-caption">
                                <!-- founder -->
                                <div class="testimonial-founder">
                                    <div class="founder-img mb-30">
                                        <img src="~/img/testmonial/khamkeuth.png" alt="Panyasak Khamkeuth" style="width:200px; height:200px; border-radius:50%">
                                        <span>Panyasak Khamkeuth</span>
                                        <p>FullStack Developer</p>
                                    </div>
                                </div>
                                <div class="testimonial-top-cap">
                                    <p>“Tôi phụ trách phát triển toàn diện cả Frontend và Backend, đảm bảo tính năng hoạt động mượt mà và hiệu quả.”</p>
                                </div>
                            </div>
                        </div>
                        <!-- Single Testimonial -->
                        <div class="single-testimonial text-center">
                            <!-- Testimonial Content -->
                            <div class="testimonial-caption">
                                <!-- founder -->
                                <div class="testimonial-founder">
                                    <div class="founder-img mb-30">
                                        <img src="~/img/testmonial/huynh.png" alt="Nguyễn Nhật Huỳnh" style="width:200px; height:200px; border-radius:50%">
                                        <span>Nguyễn Nhật Huỳnh</span>
                                        <p>UI Designer</p>
                                    </div>
                                </div>
                                <div class="testimonial-top-cap">
                                    <p>“Tôi tập trung vào thiết kế giao diện trực quan và thân thiện, nâng cao trải nghiệm người dùng.”</p>
                                </div>
                            </div>
                        </div>
                        <!-- Single Testimonial -->
                        <div class="single-testimonial text-center">
                            <!-- Testimonial Content -->
                            <div class="testimonial-caption">
                                <!-- founder -->
                                <div class="testimonial-founder">
                                    <div class="founder-img mb-30">
                                        <img src="~/img/testmonial/hieu.png" alt="Bạch Phan Minh Hiếu" style="width:200px; height:200px; border-radius:50%">
                                        <span>Bạch Phan Minh Hiếu</span>
                                        <p>Word, PPT Specialist</p>
                                    </div>
                                </div>
                                <div class="testimonial-top-cap">
                                    <p>“Tôi đảm bảo tài liệu và bài thuyết trình được trình bày rõ ràng, chuyên nghiệp, hỗ trợ hiệu quả cho dự án.”</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- Testimonial End -->
    <!-- Support Company Start-->



</main>